@include ff-batch($avenir);
@include ff-batch($work);
@include ff-batch($mono);
@include ff-batch($icon);

html {
    font-size: $base__font-size;
}
body {
    font-family: 'Avenir', sans-serif;
    font-weight: 500;
    line-height: $base__line-height;

    color: $neutral__color;
}

h1 {
    font-size: $h1__font-size;
}
h2 {
    font-size: $h2__font-size;
}
h3 {
    font-size: $h3__font-size;
}
h4 {
    font-size: $h4__font-size;
}
h5 {
    font-size: $h5__font-size;
}
h6 {
    font-size: $h6__font-size;
}
p,
ul,
ol {
    margin-bottom: rhythm(1);
}
strong {
    font-weight: 700;
}

.candidate--graphics {
    font-family: 'WorkSans', sans-serif;
    background-image: url('../img/candidate--web__bg.jpg');
    background-size: contain;
}

.candidate--web {
    font-family: 'SourceCodePro', sans-serif;

    color: #cccccc;
    background-color: #2d2d2d;
}
