@include ff-batch($avenir);
@include ff-batch($icon);

html {
    font-size: $base__font-size;
}
body {
    color: $neutral__color;
    font-family: 'Avenir', sans-serif;
    font-weight: 500;
    line-height: $base__line-height;
}
h1 {
    font-size: $h1__font-size;
}
h2 {
    font-size: $h2__font-size;
}
h3 {
    font-size: $h3__font-size;
}
h4 {
    font-size: $h4__font-size;
}
h5 {
    font-size: $h5__font-size;
}
h6 {
    font-size: $h6__font-size;
}
p, ul, ol {
    margin-bottom: rhythm(1);
}
strong {
    font-weight: 700;
}

.directory {

    .directory {
        padding-left: rhythm(1);
        margin-bottom: 0;
    }

    + .directory {
        margin: rhythm(1) 0;
    }
}

.directory__item {
    position: relative;
    padding-left: rhythm(1);

    &:before {
        position: absolute;
        font-family: "outlined-iconset";
        left: 0;
    }
}

.directory__item--root:before {
    content: "\e021";
}

.directory__item--file {
    left: rhythm(1);

    &:before {
        content: "\e04f";
    }
}
