html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:hover, a:focus {
  cursor: pointer; }

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirHeavy-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirHeavy-webfont.woff") format("woff"), url("../fonts/AvenirHeavy-webfont.ttf") format("truetype"), url("../fonts/AvenirHeavy-webfont.svg#svgAvenirHeavy-webfont") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenirltstd-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/avenirltstd-medium-webfont.woff") format("woff"), url("../fonts/avenirltstd-medium-webfont.ttf") format("truetype"), url("../fonts/avenirltstd-medium-webfont.svg#svgavenirltstd-medium-webfont") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenirltstd-roman-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/avenirltstd-roman-webfont.woff") format("woff"), url("../fonts/avenirltstd-roman-webfont.ttf") format("truetype"), url("../fonts/avenirltstd-roman-webfont.svg#svgavenirltstd-roman-webfont") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-Black.woff2") format("woff2"), url("../fonts/WorkSans-Black.woff") format("woff"), url("../fonts/WorkSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-Bold.woff2") format("woff2"), url("../fonts/WorkSans-Bold.woff") format("woff"), url("../fonts/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "WorkSans";
  src: url("../fonts/WorkSans-Regular.woff2") format("woff2"), url("../fonts/WorkSans-Regular.woff") format("woff"), url("../fonts/WorkSans-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "SourceCodePro";
  src: url("../fonts/sourcecodepro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcecodepro-medium-webfont.woff2") format("woff2"), url("../fonts/sourcecodepro-medium-webfont.woff") format("woff"), url("../fonts/sourcecodepro-medium-webfont.ttf") format("truetype"), url("../fonts/sourcecodepro-medium-webfont.svg#svgsourcecodepro-medium-webfont") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: "outlined-iconset";
  src: url("../fonts/outlined-iconset.eot?#iefix") format("embedded-opentype"), url("../fonts/outlined-iconset.woff") format("woff"), url("../fonts/outlined-iconset.ttf") format("truetype"), url("../fonts/outlined-iconset.svg#svgoutlined-iconset") format("svg");
  font-weight: 500;
  font-style: normal; }

html {
  font-size: 112.5%; }

body {
  font-family: 'Avenir', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #343c4b; }

h1 {
  font-size: 3.15733em; }

h2 {
  font-size: 2.36859em; }

h3 {
  font-size: 1.77689em; }

h4 {
  font-size: 1.333em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.75019em; }

p,
ul,
ol {
  margin-bottom: 1.5em; }

strong {
  font-weight: 700; }

.candidate--graphics {
  font-family: 'WorkSans', sans-serif; }
  @media (min-width: 992px) {
    .candidate--graphics {
      background-image: url("../img/candidate--web__bg.jpg");
      background-size: contain; } }

.candidate--web {
  font-family: 'SourceCodePro', sans-serif;
  color: #cccccc;
  background-color: #2d2d2d; }

.icon-fw {
  padding-right: 0.45em;
  padding-left: 0.45em; }

.icon-clear {
  display: block; }

.icon-fw--left {
  padding-right: 0.45em; }

.icon-fw--right {
  padding-left: 0.45em; }

.icon:before {
  font-family: "outlined-iconset";
  vertical-align: middle;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cloud-download:before {
  content: "\e008"; }

.icon-delete:before {
  content: "\e010"; }

.icon-diamond:before {
  content: "\e018"; }

.icon-flag:before {
  content: "\e020"; }

.icon-home:before {
  content: "\e02c"; }

.icon-setting-2:before {
  content: "\e05d"; }

.icon-website-1:before {
  content: "\e07f"; }

.icon-arrow-left:before {
  content: "\e087"; }

.icon-arrow-right:before {
  content: "\e08c"; }

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5em 0.9em;
  border: 1px solid;
  border-radius: 0.375em;
  text-decoration: none; }

.btn--cta {
  color: white;
  background-color: #f36c0a; }
  .btn--cta:hover, .btn--cta:focus {
    background-color: #db6109; }

.code-block {
  position: relative;
  padding-left: 3em;
  color: #99cccc;
  margin-bottom: 1.5em; }
  .code-block:after {
    display: block;
    content: " }";
    margin-left: -3em; }
  .code-block p:last-child {
    margin-bottom: 0; }

.code-block__link-wrapper:before {
  color: #cc99cc;
  content: "@assets "; }

.code-block__link {
  text-decoration: none;
  color: #f99157; }
  .code-block__link:before, .code-block__link:after {
    color: #99cccc; }
  .code-block__link:before {
    content: "download("; }
  .code-block__link:after {
    content: ");"; }

.code-block__link__text:before {
  content: "$"; }

.comment:before {
  color: #999999;
  content: "//";
  position: absolute;
  left: 0; }

.directory .directory {
  padding-left: 1.5em;
  margin-bottom: 0; }

.directory__item {
  position: relative;
  padding-left: 1.5em; }
  .directory__item:before {
    position: absolute;
    font-family: "outlined-iconset";
    left: 0; }

.directory__item--root:before {
  content: "\e021"; }

.directory__item--file {
  left: 1.5em; }
  .directory__item--file:before {
    content: "\e04f"; }

.candidate--graphics .directory {
  margin: 1.5em 0; }
  .candidate--graphics .directory > .directory > .directory {
    margin: 0; }

.candidate--web .directory-wrapper {
  padding-left: 3em; }
  .candidate--web .directory-wrapper:before {
    display: block;
    content: "//";
    color: #999999;
    margin-left: -3em; }

.candidate--web .directory {
  color: #999999;
  box-sizing: border-box; }
  .candidate--web .directory > .directory__item > .comment:before {
    left: -3em; }
  .candidate--web .directory:after {
    display: block;
    content: "//";
    margin-left: -3em;
    color: #999999; }
  .candidate--web .directory > .directory > .directory:after {
    display: none; }
  .candidate--web .directory > .directory:after {
    margin-left: -4.5em;
    color: #999999; }
  .candidate--web .directory > .directory > .directory:after {
    margin-left: -6em;
    color: #999999; }
  .candidate--web .directory > .directory__item--file > .comment:before,
  .candidate--web .directory > .directory > .directory__item > .comment:before {
    left: -4.5em; }
  .candidate--web .directory > .directory > .directory__item--file > .comment:before,
  .candidate--web .directory > .directory > .directory > .directory__item > .comment:before {
    left: -6em; }

.candidate--graphics a,
.candidate--web a {
  color: inherit; }

.candidate--web .footer {
  margin-bottom: 9em; }

.grid__container {
  max-width: 30em;
  margin: 0 auto;
  padding: 0 1.5em; }
  @media (min-width: 992px) {
    .grid__container {
      max-width: 50em; } }

.grid__row {
  margin: 0 -1.5em; }
  .grid__row:after {
    display: table;
    clear: both;
    content: ''; }

.grid__col {
  float: left;
  box-sizing: border-box;
  padding-right: 1.5em;
  padding-left: 1.5em; }

@media (min-width: 992px) {
  .grid__col--sidebar {
    width: 33.33333%; }
  .grid__col--main {
    width: 66.66667%; } }

.candidate--graphics .wrapper {
  max-width: 34em;
  margin: 0 auto; }

@media (min-width: 1200px) {
  .candidate--graphics .row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; } }

.candidate--graphics .col {
  position: relative;
  box-sizing: border-box;
  padding: 4.5em 1.5em; }

.candidate--graphics .col--greetings {
  z-index: 300;
  color: white;
  background-color: rgba(54, 98, 173, 0.9); }
  @media (min-width: 1200px) {
    .candidate--graphics .col--greetings {
      padding-left: 5%;
      -webkit-flex: 0 0 24em;
      -ms-flex: 0 0 24em;
      flex: 0 0 24em; }
      .candidate--graphics .col--greetings:after {
        position: absolute;
        top: 0;
        right: -6em;
        width: 6em;
        height: 100%;
        content: '';
        background-color: rgba(54, 98, 173, 0.9);
        -webkit-clip-path: polygon(0 0, 0% 100%, 100% 0);
        clip-path: polygon(0 0, 0% 100%, 100% 0); } }

.candidate--graphics .col--main {
  background-color: rgba(255, 255, 255, 0.85); }
  @media (min-width: 1200px) {
    .candidate--graphics .col--main {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-left: 10%;
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      -webkit-clip-path: polygon(4em 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(4em 0, 100% 0, 100% 100%, 0 100%); } }

.candidate--graphics .col--submission {
  max-width: 34em;
  margin: 0 auto;
  padding-top: 0; }
  @media (max-width: 1199px) {
    .candidate--graphics .col--submission {
      padding-bottom: 6em; } }
  @media (min-width: 1200px) {
    .candidate--graphics .col--submission {
      padding-right: 0; } }
  @media (min-width: 1500px) {
    .candidate--graphics .col--submission {
      -webkit-flex: 0 0 30%;
      -ms-flex: 0 0 30%;
      flex: 0 0 30%; } }

.candidate--web .container {
  box-sizing: border-box;
  max-width: 90em;
  margin: 0 auto;
  padding: 0 1.5em 0 2.25em; }
  @media (max-width: 1199px) {
    .candidate--web .container {
      max-width: 40em; } }

.candidate--web .row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 -1.5em; }
  @media (min-width: 1200px) {
    .candidate--web .row {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; } }

.candidate--web .col {
  box-sizing: border-box;
  padding: 0 1.5em; }

.candidate--web .col--main {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.candidate--web .col--sidebar {
  -webkit-flex: 0 0 30%;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%; }

.candidate--web .header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 0.75em;
  padding: 0.75em 1.125em;
  background-color: rgba(0, 0, 0, 0.25); }

.candidate--graphics .heading {
  font-weight: 700; }
  .candidate--graphics .heading .icon {
    font-weight: 500; }

.candidate--graphics .heading--feature {
  color: #3662ad;
  font-weight: 900;
  text-transform: uppercase; }

.heading--comment {
  position: relative;
  padding-left: 3em;
  color: #999999; }
  .heading--comment:before, .heading--comment:after {
    content: '//';
    display: block;
    margin-left: -3em; }

.hero {
  padding-top: 1.5em;
  padding-bottom: 1.5em; }
  .hero a {
    color: inherit; }

.hero--large {
  padding-top: 3em;
  padding-bottom: 3em; }

.hero--header {
  margin-bottom: 4.5em;
  color: white;
  background-color: #3662ad;
  position: relative; }

.hero--footer {
  color: white;
  background-color: #343c4b; }

.line-numbers {
  position: absolute;
  top: 4.5em;
  left: 0;
  padding: 0 0.75em;
  text-align: right;
  color: #515151; }

.logo {
  height: 1.5em; }

.candidate--web .main {
  padding-top: 4.5em; }

.media {
  display: table;
  zoom: 1; }
  .media:after {
    display: table;
    clear: both;
    content: ''; }

.media-object {
  display: table-cell; }

.media-body {
  display: table-cell;
  width: 10000px;
  vertical-align: top; }

.candidate--graphics .media {
  margin-bottom: 3em; }
  .candidate--graphics .media a {
    text-decoration: none; }
  .candidate--graphics .media a .icon {
    color: #f36c0a;
    transition: color .35s ease-in-out; }
    .candidate--graphics .media a .icon:hover, .candidate--graphics .media a .icon:focus {
      color: #343c4b; }

.nav:after {
  display: table;
  clear: both;
  content: ''; }

.nav__item {
  display: block;
  box-sizing: border-box;
  padding: 0.5em 0.9em;
  color: inherit; }

.nav--navbar .nav__item {
  float: left; }

.nav--navbar {
  color: white;
  background-color: #3662ad; }
  .nav--navbar .nav__item:hover, .nav--navbar .nav__item:focus {
    background-color: #547ab9; }

.nav--sidebar {
  color: white;
  background-color: #343c4b; }
  .nav--sidebar .nav__item:hover, .nav--sidebar .nav__item:focus {
    background-color: #2c3340; }

.selector {
  color: #f2777a; }
  .selector:after {
    color: #99cccc;
    content: " {"; }

.selector--psuedo:before {
  color: #f2777a;
  content: "&"; }

.selector--psuedo:after {
  color: #cccccc;
  content: ":"; }

.selector--submit:before {
  content: "submit"; }

.selector--attribute__color {
  color: #cccccc; }

.selector--attribute {
  color: #99cc99; }
  .selector--attribute:before {
    color: #cccccc;
    content: "["; }

.selector--class:before {
  color: #cccccc;
  content: "."; }

.selector--id:before {
  color: #cccccc;
  content: "#"; }

.go-left {
  float: left !important; }

.go-right {
  float: right !important; }

.invisible {
  visibility: hidden; }

@media (max-width: 1199px) {
  .visible--desktop {
    display: none; } }

@media (min-width: 992px) {
  .visible--tablet {
    display: none; } }

@media (min-width: 768px) {
  .visible--mobile {
    display: none; } }

@media (max-width: 1199px) {
  .hidden--desktop {
    display: none; } }

@media (max-width: 991px) {
  .hidden--tablet {
    display: none; } }

@media (max-width: 767px) {
  .hidden--mobile {
    display: none; } }

.fade {
  opacity: 0;
  transition: opacity .25s ease-in-out; }
  .fade.in {
    opacity: 1; }
