<!-- 
{% for node in pages_list reversed %}
    {% if group == null or group == node.group %}
        {% if page.url == node.url %}
        <li class="nav__item">
            <a class="active nav__link" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
        </li>
        {% else %}
        <li class="nav__item">
            <a class="nav__link" href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
        </li>
        {% endif %}
    {% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}

<ul class="nav__list hidden">            
    {% assign pages_list = site.pages %}
    {% assign group = 'navigation' %}
    {% include pages_list.html %}
</ul>
-->